/* SETUP CSS - Ne rien modifier ici */
body {
    background-color: #011627;
    color: #fdfffc;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0; 
    border: 0;
  }
  
  div { background-color: #073b4c; }
  div:nth-of-type(5n+1) { background-color: #ef476f; }
  div:nth-of-type(5n+2) { background-color: #ffd166; }
  div:nth-of-type(5n+3) { background-color: #06d6a0; }
  div:nth-of-type(5n+4) { background-color: #118ab2; }
  
  span { background-color: rgba(255, 255, 255, .5); border-radius: 50%; display: block; font-size: 48px; height: auto; line-height: 3em; text-align: center; width: 3em; }
  /* CSS SETUP END */
  
  
  /* Modifie ici */
  section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 90vh;
    margin: 5vh;
    column-gap: 10px;
    row-gap: 10px;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div:nth-of-type(9) {
    grid-column: 3 / 4;
    grid-row: 5 / 1;
  }